<div class="row">
  <div class="col-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipes <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" href="#">To Shopping List</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>